# Ejemplo Notebook

## Tabla

In [2]:
import pandas as pd

df = pd.read_csv('trees.csv', index_col="Index")
df.head(10)

       "Girth (in)"  "Height (ft)"  "Volume(ft^3)"
Index
1               8.3             70            10.3
2               8.6             65            10.3
3               8.8             63            10.2
4              10.5             72            16.4
5              10.7             81            18.8
6              10.8             83            19.7
7              11.0             66            15.6
8              11.0             75            18.2
9              11.1             80            22.6
10             11.2             75            19.9